.projects-header {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.modal-title {
  font-size: clamp(1.5rem, 8vw, 3.5rem);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.projects-tabs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabs-header {
  max-width: 420px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.projects-tab-list {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  width: 100%;
  justify-content: space-between;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 2rem;
  background-color: var(--black-1);
}
.projects-tab-item {
  width: fit-content;
}
.projects-tab-btn {
  color: var(--white);
  font-size: 1.2rem;
  width: fit-content;
  height: 2.3rem;
  border-radius: 1.1rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding: 0 1rem;
  transform: translateX(-5px);

}
.projects-tab-btn::before {
    border-radius: 1.1rem !important;
    transform: translateX(5px);
  }
.active {
  background-color: var(--golden-yellow);
  color: var(--black-1)!important;
}
.projects-tab-btn:hover{
    color: var(--black-1);
}
.tabs-grid {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
  place-items: center;
}
.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  border: 1.5px solid var(--faded-gold);
  box-shadow: 0 0 1rem rgba(255, 217, 0, 0.056);
  overflow: hidden;
  width: 100%;
}

.card-header {
  width: 100%;
}

.card-img {
  width: 105%;
  border-radius: 1.4rem 1.4rem 0 0;
}
.details {
  margin-top: 0.75rem;
  padding: 0 0.75rem;
}
.project-name {
  text-transform: uppercase;
  font-size: clamp(1.2rem, 8vw, 1.6rem);
}

.cta-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0 0.75rem;
}
.project-link {
  height: 2rem;
  max-width: 100px;
  width: 100%;
  background-color: var(--golden-yellow);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-1);
  font-weight: 600;
}
.project-link:hover {
  transform: translateY(-3px);
  scale: 1.1;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 1rem rgba(255, 217, 0, 0.224);
}
.tech-stack-list {
  margin-top: 0.75rem;
  padding: 1rem 0.75rem;
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  align-items: center;
  border-top: 1px solid var(--faded-gold);
  background-color: var(--black-1);
  border-radius: 0 0 0.65rem 0.65rem;
  opacity: .7;
}
.tech-stack-img {
  width: 30px;
  height: 30px;
  opacity: 0.7;
}
