

.card-wrapper {
  max-width: 49rem;
  width: 100%;
  box-shadow: 0 0 1rem rgba(255, 217, 0, 0.042);
  position: relative;
  overflow: hidden;
  z-index: 5;
  border-radius: 1.5rem;
  border: 1px solid rgba(218, 165, 32, 0.586);
}

.card-content {
  width: 100%;
  border-radius: 1.6rem;
  /* background-color: var(--black-1); */
  background: url("./assets/images/bg-color1.jpg") no-repeat top right/cover;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.876);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  z-index: -1;
}

@keyframes snaking-glow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.small {
  opacity: 0.5 !important;
}
.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid var(--faded-gold);
  height: 100%;
}
.profile-name {
  padding: 1.38rem 0.75rem 0 1.5rem;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 0.8rem;
  background-color: var(--yellow-1);
}
.name {
  padding-top: 0.5rem;
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  font-weight: bold;
  text-transform: uppercase;
}
.contanct-info {
  margin-top: 2.06rem;
  display: flex;
  flex-direction: column;
  gap: 0.82rem;
  padding: 0 0.65rem 1.2rem 1.5rem;
}
.contanct-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.1rem;
}
.contanct-icon-wrapper {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--golden-yellow);
  color: var(--black-1);
  padding: 0.3rem;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: var(--faded-gold);
}
.external-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.06rem;
  padding: 0 0.65rem 1.2rem 1.5rem;
}
.increase-mt {
  margin-top: 4rem;
}
.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 0.4rem;
  background-color: var(--yellow-1);
  color: var(--black-1);
  position: relative;
  z-index: 2;
}
.link-icon::before {
  border-radius: 0.4rem;
}
.external-icon {
  font-size: 2rem !important;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.38rem 0.75rem 1.25rem 1.5rem;
}
.title {
  margin-bottom: 0.5rem;
}
.parag {
  font-size: 1.1rem;
  margin-top: 0.35rem;
  width: 90%;
}
.toggle-text-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow-1);
  border-radius: 1rem;
  height: 2rem;
  padding: 0 0.5rem;
  font-weight: 500;
  font-size: 0.85rem;
  width: fit-content;
  color: var(--black-1);
  margin-top: 0.5rem;
}
.heading-bottom {
  margin-top: 1.6rem;
}

.tab-list {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 80px;
  background-color: var(--black-1);
  border-radius: 1rem;
  padding: 0 0.75rem;
  color: var(--black-1);
}
.tab-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-btn {
  flex-direction: column;
  height: 3.5rem;
  width: 6.5rem;
  border-radius: 0.65rem;
  font-weight: 600;
  font-size: .9rem;
  border: 1px solid var(---yellow-1);
  color: var(--white);
  box-shadow: 0 0 1rem rgba(255, 247, 0, 0.071);
  position: relative;
  z-index: 5;
}
.tab-btn::before{
  border-radius: .65rem;
  
}

.tab-icon {
  color: var(--golden-yellow);
}
.tab-btn:hover .tab-icon{
  color: var(--black-2)!important;
}
.tab-btn:hover{
  color: var(--black-2)!important;
}
