@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black-1:#0e0e0d;
  --black-2:#191915;
  --yellow-1:#e0d8a5;
  --golden-yellow:#ffde59;
  --faded-gold:#eded170d;
  --white:#fff;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;

}
body,html{
  width: 100%;
  overflow-x: hidden;
  background-color: #0e0e0d;

}
button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: none;
  font-weight: 600;
}
p{
  font-size: 1.125rem;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}
/* COMMON STYLES */
.modal-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  background-color: #20201f11;
  backdrop-filter: blur(5px);
  z-index: 10;
  /* overflow-y: auto; */
}
.modal-container{
  max-width: 1300px;
  width: 100%;
  /* min-height: 500px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.5rem 0 1.5rem;
}
.close-btn{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--yellow-1);
  position: absolute;
  top: 2rem;
  right: 2rem;
}