.modal-wrapper.settings {
  justify-content: flex-end !important;
  align-items: center !important;
  padding: 1.5rem 3rem;
}
.settings-wrapper {
  min-height: 250px;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1.5px solid var(--faded-gold);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  position: relative;
  background-color: #1c1b1ad1;

}
.close-btn.settings {
  width: 2.6rem !important;
  height: 2.6rem !important;
}
.theme-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.slider {
  margin-top: 3.5rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #1313108b;
  box-shadow: 0 0 2rem -.5rem rgba(255, 217, 0, 0.066);
  border: 1.5px solid var(--faded-gold);

  height: 3.5rem;
  border-radius: 2rem;
  padding: 0 0.75rem;
}
.slider-btn {
  width: fit-content;
  height: 2.5rem;
  border-radius: 1.3rem;
  padding: 0 0.75rem;
  gap: 0.2rem;
  font-size: 0.95rem;
  color: var(--white);
  opacity: 0.8;
}
.active-tab {
  background-color: var(--golden-yellow);
  color: var(--black-1);
  opacity: 1;
}
.slider-icon {
  font-size: 1.5rem !important;
  color: var(--white);
  opacity: 0.8;
}
.active-icon {
  color: rgb(6, 19, 6);
}

.slider-btn:not(.active-tab):hover {
  background-color: var(--golden-yellow);
  color: var(--black-1);
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.slider-btn:not(.active-tab):hover .slider-icon {
  color: rgb(6, 19, 6);

  opacity: 1;
  transition: 0.3s ease-in-out;
}

.theme-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}
.options-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
  gap: 1rem;
}
.option-btn {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.65rem;
  font-weight: 600;
  font-size: 0.9rem;
  border: 1px solid var(--faded-gold);
  color: var(--white);
  box-shadow: 0 0 1rem -.5rem rgba(255, 247, 0, 0.038);
  position: relative;
  z-index: 5;
  padding: 0.5rem 1rem;
  transition: .3s ease-in-out;
  gap: .5rem;
}
.theme-option-wrapper {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}
.active-option{
  border: 1px solid var(--golden-yellow);
  opacity: 1;
  transition: .3s ease-in-out;

}
.color-icon-wrapper,
.font-text-label {
  border-radius: .65rem;
  border: 1px solid var(--faded-gold);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4rem;
}

.font-text-label {
  font-size: clamp(1.2rem, 5vw, 1.8rem);
  font-weight: 600;
    color: var(--white);
}
.text-wrapper {
  text-align: left;
  color: rgba(255, 255, 255, 0.723);
}
.theme-label {
  font-size: 1.1rem;
}
.theme-parag{
    font-size: .85rem;
}
.check-icon{
    transition: .3s ease-in-out; 
    color: var(--golden-yellow);
    
}
.option-btn:not(.active-option):hover{
    border: 1px solid var(--golden-yellow);
    transition: .3s ease-in-out; 

}
